/node_modules/
package-lock.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
# Cypress samples
 cypress/e2e/1-getting-started/*
 cypress/e2e/2-advanced-examples/*
 /videos/*